
.powerups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: fit-content;
}

.btn {
    float: left;
    height: 5em;
    width: 5em;
}

.powerup {
    border: 1px solid grey;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 3em;
    font-family: 'Calibri';
    font-weight: bold;
    color: black;
    line-height: 5rem;
}

.wobist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 80%;
    margin: auto;
    border: 5px solid black;
}