body {
    background-color: white;
}

  .container {
      margin-top: 30px;
  }

form input, form button {
    padding: 8px;
    font-size: 1.8rem;
}

header, form, .todo-container, .credit{
    display: flex;
    justify-content: center;
    align-content: center;
}



.todo-list {
    min-width: 35%;
    list-style: none;
}

.todo {
    background-color:#ececec;
    margin: 0.6rem;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}

.todo li {
    flex: 1;
    padding: 10px;
    font-size: 1.5rem;
}

.btn-delete, .btn-complete {
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(194, 194, 194);
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration:line-through;
    font-weight: lighter;
    background: rgb(152, 251, 149);
}